.dangerButton {
  background-color: rgb(231, 82, 82);
  color: white;
  border-color: rgb(250, 64, 64);
}
.dangerButtonNotSelected {
  background-color: unset;
  color: gray;
  border-color: rgb(231, 82, 82);
}
.dangerButton,
.dangerButtonNotSelected {
  &:hover,
  &:active,
  &:focus,
  &:target,
  &:visited {
    background-color: rgb(255, 122, 122);
  }
  &:active {
    background-color: rgb(132, 28, 28) !important;
    border-color: rgb(255, 122, 122);
  }
}
.forContent {
  width: 46%;
  margin: 0 2%;
  @media (max-width: 820px) {
    width: 100%;
    margin: 0.4rem 0;
  }
}
