html,
body {
  background-color: #343a40;
  color: white;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
.wrapper {
  padding-bottom: 6rem;
}
.f-left {
  float: left;
}
.fc-minus {
  color: #fc6868;
}
.fc-plus {
  color: rgb(82, 231, 171);
}

.content {
  width: 94%;
  margin: 0.6rem auto;
  padding: 1.2rem;
  border: 1.5px solid #4d4d4d;
  border-radius: 1rem;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.04);
}

.form-control {
  background-color: #343a40;
  color: white;
  border: 1.5px solid #4d4d4d;
  border-radius: 0.3rem;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.04);
}
.form-control:focus {
  color: white;
  background-color: #343a40;
  border: 1.5px solid #4d4d4d;
}

.clear-both {
  clear: left;
}

.sub-sentence {
  font-size: 0.75rem;
}
.fx-button-fix {
  position: fixed;
  bottom: 8rem;
  right: 2.2rem;
  padding: 0.8rem;
  font-size: 1.4rem;
  border-radius: 0.8rem;
  border: none;
}
.fx-button {
  vertical-align: middle;
  display: inline-block;
  margin-right: 0.2rem;
}
@media (max-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
}
@media (max-width: 820px) {
  .d-none-tb {
    display: none !important;
  }
}
