.strategy-content {
  .content {
    text-align: left;
    h2,
    p {
      margin: 0.6rem 0;
    }
    .form-control {
      background-color: #343a40;
      color: white;
      border: 1.5px solid #4d4d4d;
      border-radius: 1rem;
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.04);
    }
  }
}
